.animal-box {
    width: 70%;
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    margin: 10px;
    text-align: center;
}

.animal-box:hover {
    border-color: #ccc;
    /* Slightly darker border on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Increased shadow on hover for a 'lifting' effect */
    transform: translateY(-5px);
    /* Slight upward movement to indicate interactivity */
}

.animal-image {
    width: 50%;
    height: 50%;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid black;
}

.animal-info {
    margin-top: 8px;
}

.animal-info select {
    padding: 10px 16px;
    /* More padding for a better touch area */
    border: 2px solid #ddd;
    border-radius: 6px;
    /* Slightly rounded corners */
    background-color: #f8f8f8;
    font-size: 1rem;
    color: #333;
    cursor: pointer;
    outline: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.animal-info select:hover {
    border-color: #bbb;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}

.animal-info select:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.5);
    /* Slightly more visible glow effect */
}